{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="text-center">
    <h3 class="mb-4" style=" background-color: cadetblue;  width: 70%;color: #fff; text-align: center; padding:10px; box-shadow: 0px 5px 5px rgb(132, 140, 141); margin-left: 15%;">Criminal Record System</h3>
    
    {% if current_user.is_authenticated %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Register Criminal</h5>
                    <p class="card-text">Add a New Criminal.</p>
                    <a href="{{ url_for('main.register_face') }}" class="btn btn-primary">Register Criminal</a>
                </div>
            </div>
            
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Verify Criminal</h5>
                    <p class="card-text">Check Criminal Exsisting Record</p>
                    <a href="{{ url_for('main.verify_face') }}" class="btn btn-success">Verify Face</a>
                </div>
            </div>

            <!-- <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Real-time Recognition</h5>
                    <p class="card-text">Use your webcam for real-time face recognition.</p>
                    <a href="{{ url_for('main.realtime_recognition') }}" class="btn btn-info">Start Real-time Recognition</a>
                </div>
            </div> -->
        </div>
    </div>
    {% else %}
    <p class="lead">Please login or register to use the Criminal record System.</p>
    <div>
        <a href="{{ url_for('auth.login') }}" class="btn btn-primary me-2">Login</a>
        <a href="{{ url_for('auth.register') }}" class="btn btn-success">Register</a>
    </div>
    {% endif %}
</div>
{% endblock %}
